#portada{
    background-image: url(../img/portada.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 12cm;
}

.logo1{
    height: 80%;
}

.logo2{
    height: 60%;
}


footer{
    height: 100%;
}

.imglateral{
    box-sizing: border-box;
    width: 400px;
}

.icono{
    box-sizing: border-box;
    height: 100px;
    width: auto;
}


#portadaProyectoUno{
    background-image: url(../img/arduinoPortada.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-color:black ;
    height: 12cm;
}